<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <app-filters [result]="result" (filters)="filterSubmitted($event)" [resetFilters]="resetFilters"></app-filters>
            </div>
            <div class="col-md-9">
                <app-search-input [checkBoxValues]="basketValues" (basketChecked)="basketChecked()" (searchKeyEmmit)="searchKeySubmitted($event)"></app-search-input>
                <div class="mt-4">
                    <app-search-result [result]="result" (basket)="checkBox($event)" (from)="paginationClicked($event)"></app-search-result>
                </div>
            </div>
        </div>
    </div>
</div>
