<div>
    <form action="#" (ngSubmit)="onSearch()" autocomplete="off">
        <input type="text" [(ngModel)]="searchKey" (ngModelChange)="onSuggest()" class="searchInput" id="searchField" name="gfbioSearch">
        <button type="submit" class="searchButton"><fa-icon [icon]="faSearch" class="fa-lg text-gray" id="button"></fa-icon></button>
        <button type="button" class="searchButton" (click)="semantic()"><img src="assets/img/icon_semsearch2.png" width="40"></button>
        <div class="basket">
            <img src="assets/img/basket.png" class="basket-img">
            <span class="basket-number">2</span>
            <span class="basket-text">Dataset Basket</span>
        </div>
    </form>
    <div class="position-relative">
        <div class="suggestion-window" *ngIf="windowSuggestion">
            <app-suggestion-window (windowSuggestKey)="onWindowSuggestKey($event)" (isClicked)="windowSuggestion = false"></app-suggestion-window>
        </div>
    </div>
</div>

