<div>
    <form action="#" (ngSubmit)="onSearch()" autocomplete="off">
				<input type="text" [(ngModel)]="searchKey" (ngModelChange)="onSuggest()" class="searchInput"
                   id="searchField" name="gfbioSearch" >
				<button type="submit" class="btn btn-primary btn-blue">
					<fa-icon [icon]="faSearch" class="fa-lg text-white" id="button"></fa-icon> search
				</button>
				<button type="button" class="btn btn-primary btn-blue" (click)="semantic()"><img src="{{semSearchImg}}"
                                                                                height="18"> semantic search</button>

    </form>
    <div class="text-danger ml-1" *ngIf="alert">please do not use special characters or space</div>
    <div class="position-relative">
        <div class="suggestion-window" *ngIf="windowSuggestion">
            <app-suggestion-window (windowSuggestKey)="onWindowSuggestKey($event)"
                                   (isClicked)="windowSuggestion = false"></app-suggestion-window>
        </div>
    </div>
</div>

